/*
font-family: 'Montserrat', ;
font-family: 'Noto Serif', ;
*/

.clearfix {
    overflow: auto;
}

body {
    font-family: 'Noto Serif', serif;
    max-width: 70%;
    margin: 50px auto;
}

a {
    color: #33485e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h3, h4, h5 {
    margin: 0;
}

h1 {
    color: #33485e;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
    margin-bottom: 5px;
}

h2, .highlight {
    color: white;
    background-color: #33485e;
    padding: 2px 5px;
}

#header {
    text-align: center;
    width: 70%;
    margin: 0 auto 20px;
}

.header-name {
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

#header p {
    color: #999;
    font-style: italic;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    margin-top: 0;
}

#social ul {
    list-style-type: none;
    padding-left: 0;
}

#social ul li {
    display: inline-block;
}

#social ul li::after {
    content: "|";
    padding: 6px;
}



#social ul li:nth-child(n+1)::after {
    content: "";
}

img {
    max-width: 600px;
    width: 33%;
    float: right;
}
