---
---

@import "{{ site.theme }}";

header {
    ul {
        padding-left: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        max-width: 60%;
        margin: 10px auto 0;
        grid-column-gap: 5px;

        li a {
            width: 100px;
        }
    }

    .btn {
        &.disabled {
            pointer-events: none;
            cursor: inherit;
            color: rgba(255, 255, 255, 0.3);
        }
    }
}
